*{
    margin: 0;
    padding: 0;
}

.container-menu ul{
    list-style: none;
    background-color: #333;
    max-width: 960px;
    margin: 0 auto;
}

.menu{
    display: flex;
    flex-wrap: wrap;
}

.menu a{
    display: block;
    color: white;
    padding: 15px 10px;
    text-decoration: none;
}

.menu li:hover{
    background: red;
}

.menu li:hover .sub-menu{
    display: block;
}

.sub-menu{
    display: none;
    position: absolute;
}
.sub-menu li{
    min-width: 200px;
}

